.mac-header {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  /* margin-top: -2rem; */
}

.mac-header-items {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  font-size: 0.7rem;
  padding: 10px 0;
}

.mac-header-items img {
  height: 50px;
  width: 50px;
}

.mac-header-items .new {
  color: rgb(194, 17, 17);
  font-weight: 300;
}
