.underline {
  height: 0.7rem;
  background-color: rgb(233, 233, 233);
}

.mac-comparing-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(235, 235, 235);
  padding: 100px 0;
}

.mac-comparing-title {
  font-size: 3rem;
}

.mac-comparing-buttons button {
  border: none;
  background: none;
  padding: 50px 30px 20px 30px;
  /* margin-left: 30px; */
  font-size: 1rem;

  /* border-bottom: solid 1px grey; */
}

.mac-comparing-unerline {
  border-bottom: solid 1px grey;
  /* width: 190px; */
}

.mac-compare-section {
  display: flex;
  gap: 2rem;
  padding-top: 30px;
}
