.support_container {
  position: relative;
  background-color: white;
}

.support_header {
  background-image: url("https://support.apple.com/content/dam/edam/applecare/images/en_US/homepage/psp-hero-banner-homepage-welcome.image.small_2x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  color: white;
  font-size: 1.4rem;
  text-align: center;
  padding-top: 200px;
}

.support_proudct_nav {
  padding-bottom: 30px;
}

.support_proudct_nav_warpper {
  display: flex;
  justify-content: space-between;
  max-width: 735px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
}

.support_proudct_nav_item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.support_proudct_nav_item img {
  height: auto;
  width: 70px;
  margin-bottom: 10px;
}

/* REPAIR SECTION */
.support_repair_section {
  width: 100%;
  height: 50vh;
}

.support_repair_wrapper {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  justify-content: center;
  padding: 100px;
}

.support_repair_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 100px;
}

.support_repair_item.middle {
  border-right: 1px solid gray;
  border-left: 1px solid gray;
}

.support_repair_item img {
  height: 50px;
  width: 50px;
}

.support_repair_item_text_wrapper {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
