.support_container {
  position: relative;
  background-color: white;
  /* height: 100vh; */
}

.support_header {
  background-image: url("https://support.apple.com/content/dam/edam/applecare/images/en_US/homepage/psp-hero-banner-homepage-welcome.image.large_2x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 60vh;
  color: white;
  font-size: 1.4rem;
  text-align: center;
  padding-top: 200px;
}

@media (max-width: 1280px) {
  .support_header {
    background-image: url("https://support.apple.com/content/dam/edam/applecare/images/en_US/homepage/psp-hero-banner-homepage-welcome.image.small_2x.jpg")
      cover center no-repeat;
    height: 100vh;
    width: 100vw;
    /* background-attachment: fixed; */
  }
}

.support_proudct_nav {
  padding-bottom: 30px;
}

.support_proudct_nav_warpper {
  display: flex;
  justify-content: space-between;
  max-width: 835px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
}

.support_proudct_nav_item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.support_proudct_nav_item img {
  width: 70px;
  margin-bottom: 10px;
}

/* REPAIR SECTION */
.support_repair_section {
  width: 100%;
  padding-top: 80px;
}

.support_repair_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 100px;
}

.support_repair_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 100px;
}

.support_repair_item.middle {
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
}

.support_repair_item img {
  height: 50px;
  width: 50px;
}

.support_repair_item_text_wrapper {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--blue-color);
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* SEARCH SUPPPORT SECTION */
.support_search {
  width: 100%;
  padding: 60px 100px;
}

.support_search_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.support_search_input_wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  gap: 10px;
  width: 60%;
  /* padding: 20px; */
  border-radius: 5px;
  overflow: hidden;
}

.support_search_input {
  /* height: 55px; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid lightgray;
}

.support_search_input .icon {
  color: lightgray;
  margin-left: 5px;
}

.support_search_input input {
  border: none;
  outline: none;
  width: 100%;
  height: 50px;
}

.support_search_input input::placeholder {
  color: lightgray;
  font-size: 1.2rem;
  font-weight: 300;
}

.support_search_lists {
  padding-top: 10px;
}

.support_search_list_wrapper {
  padding-bottom: 20px;
  margin-top: 10px;
}

.support_search_list_wrapper h3 {
  padding-left: 20px;
}

.support_search_list_wrapper h3 {
  font-size: 1rem;
  font-weight: 400;
  color: gray;
}

.support_search_lists li {
  padding: 10px;
  padding-left: 45px;
}

.support_search_lists li:hover {
  background-color: lightgray;
  color: var(--blue-color);
  cursor: pointer;
}

/* SUPPORT_CONTENT_LINK SECTION */
.support_content_link {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.support_content_link_wrapper {
  display: flex;
  gap: 100px;
}

.support_content_link_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
}

.support_content_link_item img {
  width: 50%;
}

.suport_content_link_block h3 {
  font-size: 2.2rem;
  font-weight: 500;
  padding-top: 15px;
}

.suport_content_link_block p {
  font-size: 1.2rem;
  color: gray;
  padding: 15px 0;
}

.suport_content_link_block span {
  font-size: 1.5rem;
  color: var(--blue-color);
}

/* SUPPORT VIRTUAL SECTION */
.support_virtual {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 45px 0;
}

.support_virtual_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 900px;
}

.support_virtual_wrapper img {
  width: 450px;
}

/* Get support SECTION */
.get_support {
  background-image: url("https://support.apple.com/content/dam/edam/applecare/images/en_US/homepage/psp-hero-banner-homepage-getsupport.image.large_2x.jpg");
  background-size: cover;
  background-position: center;
  height: 450px;
  position: relative;
  margin-bottom: 100px;
}

.get_support_wrapper {
  color: white;
  position: absolute;
  left: 450px;
  top: 140px;
  font-weight: 400;
  transform: translate(-50%, -50%);
}

.get_support_wrapper h3 {
  font-size: 2.5rem;
}

.get_support_desc {
  padding: 20px 0;
  font-size: 1.2rem;
}

.get_support_wrapper span {
  font-size: 1.5rem;
  color: var(--blue-color);
}

.get_support_button {
  font-size: 1.2rem;
  color: var(--blue-color);
  padding-top: 15px;
}

@media screen and (max-width: 675px) {
  .support_header {
    background-image: url("https://support.apple.com/content/dam/edam/applecare/images/en_US/homepage/psp-hero-banner-homepage-welcome.image.small_2x.jpg");
    height: 40vh;
  }

  header h1 {
    display: none;
  }

  .support_proudct_nav .support_title {
    text-align: center;
    margin-top: 40px;
  }

  .support_proudct_nav_warpper {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 40px;
    margin-top: 0;
  }

  .support_proudct_nav_item img {
    width: 80px;
  }

  /* REPAIR SECTION */
  .support_repair_wrapper {
    flex-direction: column;
    padding: 10px 10px;
  }

  .support_repair_item {
    padding: 50px;
  }

  .support_repair_item.middle {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-left: none;
    border-right: none;
  }

  .support_repair_item_text_wrapper {
    width: 200px;
  }

  /* SEARCH SUPPPORT SECTION */
  .support_search {
    padding: 40px 0px;
  }

  .support_search h1 {
    text-align: center;
  }

  .support_search_input_wrapper {
    margin-top: 20px;
    width: 90%;
  }

  /* SUPPORT_CONTENT_LINK SECTION */
  .support_content_link_wrapper {
    flex-direction: column;
    gap: 50px;
  }

  .support_content_link_item {
    width: 400px;
  }

  .suport_content_link_block {
    text-align: center;
  }

  .suport_content_link_block h3 {
    font-size: 1.6rem;
  }

  /* SUPPORT VIRTUAL SECTION */
  .support_virtual_wrapper {
    flex-direction: column;
  }

  .support_virtual_wrapper img {
    width: 400px;
    margin-top: 20px;
  }

  /* Get support SECTION */
  .get_support {
    background-image: url("https://support.apple.com/content/dam/edam/applecare/images/en_US/homepage/psp-hero-banner-homepage-getsupport.image.small_2x.jpg");
    width: 100%;
  }

  .get_support_wrapper {
    display: none;
  }
}
