.banner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.banner-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 400px;
  position: absolute;
  top: 60px;
}

.banner-container h3 {
  font-size: 3rem;
  /* margin-top: 10rem; */
}

.banner-container p {
  font-size: 1.5rem;
  padding-top: 20px;
}

.button-wrappers button {
  color: #4d96ff;
  padding: 20px;
  border: none;
  background: none;
  font-size: 1.1rem;
  font-weight: 300;
  cursor: pointer;
}

@media screen and (max-width: 675px) {
  .banner-container img {
    width: 1500px;
    height: 500px;
  }

  .iphone_se img {
    margin-top: 70px;
    width: 1300px;
    height: 400px;
  }

  .banner-body {
    top: 20px;
  }
}
