.header-container {
  color: white;
  background-color: rgba(34, 33, 33, 1);
  font-size: 0.8rem;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
}

.header-ul {
  max-width: 1085px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  font-weight: 350;
}

.shopping_bag:hover {
  cursor: pointer;
}

.navbar-for-mobile {
  display: none;
}

@media (max-width: 1024px) {
  .header-ul {
    display: none;
  }

  .navbar-for-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .mobile-search-screen {
    background-color: rgba(34, 33, 33, 1);
    display: flex;
    /* justify-content: flex-start; */
    align-items: center;
    height: 40px;
    padding-left: 10px;
    border-radius: 10px;
    margin: 5px;
  }

  .mobile-search-screen input {
    font-size: 1.2em;
    width: 100%;
    background: transparent;
    outline: none;
    border: none;
    margin-left: 10px;
    color: white;
  }

  .mobile-search-screen input::placeholder {
    color: rgb(196, 190, 190);
  }

  .navbar-for-mobile-active {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .ul-for-mobile {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: black;
    transition: all 50s ease;
  }

  .ul-for-mobile li {
    border-bottom: solid 1px grey;
    padding: 20px 0;
    margin-left: 40px;
    width: 80%;
    font-size: 1rem;
  }

  .ul-for-mobile .mobile-screen-support {
    border-bottom: none;
  }

  .mobile-cart {
    opacity: 0;
  }

  .barIcon,
  .shopping_cart_icon_on_mobile {
    cursor: pointer;
  }
}

/* Dropbox Section */
.shopping_bag {
  position: relative;
}

.header_dropbox {
  background-color: white;
  color: var(--blue-color);
  position: absolute;
  border-radius: 10px;
  left: -120px;
  margin-top: 15px;
  width: 270px;
}

@media screen and (max-width: 1330px) {
  .header_dropbox {
    left: -200px;
  }
}

.header_dropbox h3 {
  text-align: center;
  color: gray;
  padding: 20px;
}

.header_dropbox_wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
}

.header_dropbox_lists {
  width: 100%;
}

.header_dropbox_lists li {
  padding: 15px;
  border-top: 1px solid lightgray;
}

.header_dropbox_lists li:hover {
  text-decoration: underline;
  cursor: pointer;
}
