.header-container {
  color: white;
  background-color: rgba(34, 33, 33, 1);
  font-size: 0.8rem;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
}

.header-ul {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  font-weight: 350;
}

.navbar-for-mobile {
  display: none;
}

@media screen and (max-width: 675px) {
  .header-ul {
    display: none;
  }

  .navbar-for-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .mobile-search-screen {
    background-color: grey;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    padding-left: 10px;
    border-radius: 10px;
    margin: 5px;
  }

  .mobile-search-screen input {
    font-size: 1.2em;
    width: 100%;
    background: transparent;
    text-decoration: none;
  }

  .mobile-search-screen input::placeholder {
    color: rgb(142, 68, 68);
  }

  .navbar-for-mobile-active {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .ul-for-mobile {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: black;
    transition: all 50s ease;
  }

  .ul-for-mobile li {
    border-bottom: solid 1px grey;
    padding: 20px 0;
    margin-left: 40px;
    width: 80%;
    font-size: 1rem;
  }

  .ul-for-mobile .mobile-screen-support {
    border-bottom: none;
  }

  .mobile-cart {
    opacity: 0;
  }
} 
