.homepage-feature {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.feature-body {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 35px;
}

.feature-body h3 {
  font-size: 2.5rem;
}

.feature-body p {
  font-size: 1.4rem;
  color: rgb(66, 66, 66);
  font-weight: 300;
}

.homepage-feature img {
  width: 100vw;
  height: 80vh;
}

.feature-body .subtitle {
  font-size: 0.9rem;
  color: rgb(230, 31, 31);
  font-weight: bold;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

@media screen and (max-width: 675px) {
  .feature-body {
    margin: 0 10px;
    text-align: center;
  }

  .homepage-feature img {
    width: 1000px;
  }
}
