.banner-sections {
  display: flex;
  flex-direction: column;
}

.feature-sections {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

/* ********TV SHOW SECTION*********** */
.homepage-tv-show-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url("https://www.apple.com/v/home/an/images/heroes/tv-plus-oscar-coda/hero_coda__cv3jny7jpe6a_largetall.jpg")
    center;
  background-size: cover;
  color: white;
  cursor: pointer;
}

.tv-show-top-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 400px;
}

.tv-show-top-title p {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(238, 238, 238);
}

.tv-show-top-title h1 {
  font-size: 4rem;
  font-weight: 300;
}

.tv-show-bottom-title h3 {
  font-size: 1.6rem;
  text-align: center;
}

.tv-show-button {
  border: none;
  background: none;
  color: white;
  padding: 20px;
  font-size: 1.2rem;
}

.tv-show-button:hover {
  text-decoration: underline;
  cursor: pointer;
}
