.onlyOnApple{
  .only_apple_intro{
    
    .only_apple_intro_wrapper{
      text-align: center;
      padding: 90px;

      h1{
        font-size: 96px;
        line-height: 1;
        font-weight: 700;
        letter-spacing: -0.014em;
      }

      p{
        max-width: 900px;
        font-size: 24px;
        line-height: 1.1666666667;
        font-weight: 600;
        letter-spacing: .009em;
        margin-left: auto;
        margin-right: auto;
        color: #86868b;
        padding-top: 50px;
      }
    }
  }

  .only_apple_banner{
    background-color: black;
    .only_apple_banner_wrapper{
      height: 20vh;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 50px;
      

      p{
        font-size: 24px;
        line-height: 1.3334133333;
        font-weight: 700;
        color: #fff;
        padding-top: 10px;
      }

      button{
        border: 1px solid white;
        border-radius: 50px;
        font-size: 17px;
        line-height: 1.1764805882;
        font-weight: 400;
        letter-spacing: -0.022em;
        min-width: 26px;
        padding: 12px 22px;
        font-weight: 500;
        background: none;
        color: white;
      }
    }
  }

 .only_apple_music_feature{
   margin-top: 20px;
   
   .only_apple_music_feature{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     position: relative;

     
     .only_apple_music_feature_content{

        img{
          border-radius: 10px;
        }

        p{
          font-size: 17px;
          color: gray;
          padding: 5px 0 ;
        }
     }

     .only_apple_music_feature_button{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
       padding: 12px 20px;
       background-color: rgb(234, 224, 224);
       width: 200px;
       border-radius: 50px;
       opacity: 0;
      position: absolute;
      top: 100px;  
       
       button{
         border: none;
         background: none;
         font-size: 17px;
         cursor: pointer;

       }
     }

     .only_apple_music_feature:hover{
      .only_apple_music_feature_button:hover{

        opacity: 100;
      }
     }
   }
 } 
}