.onlyOnApple{
  .only_apple_intro{
    
    .only_apple_intro_wrapper{
      text-align: center;
      padding: 90px;

      h1{
        font-size: 96px;
        line-height: 1;
        font-weight: 700;
        letter-spacing: -0.014em;
      }

      p{
        max-width: 900px;
        font-size: 24px;
        line-height: 1.1666666667;
        font-weight: 600;
        letter-spacing: .009em;
        margin-left: auto;
        margin-right: auto;
        color: #86868b;
        padding-top: 50px;
      }
    }
  }

  .only_apple_banner{
    background-color: black;
    .only_apple_banner_wrapper{
      height: 20vh;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 50px;
      

      p{
        font-size: 24px;
        line-height: 1.3334133333;
        font-weight: 700;
        color: #fff;
        padding-top: 10px;
      }

      button{
        border: 1px solid white;
        border-radius: 50px;
        font-size: 17px;
        line-height: 1.1764805882;
        font-weight: 400;
        letter-spacing: -0.022em;
        min-width: 26px;
        padding: 12px 22px;
        font-weight: 500;
        background: none;
        color: white;
      }
    }
  }
}

@media screen and (max-width:765px){
  .onlyOnApple{
    overflow: hidden;
    .only_apple_intro{
      
      .only_apple_intro_wrapper{
        padding: 0;
        margin: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
  
        h1{
          font-size: 38px;
          width: 440px;
        }
  
        p{
          font-size: 22px;  
        }
      }
    }
    .only_apple_banner{
      background-color: black;
      .only_apple_banner_wrapper{
        height: 30vh;
        flex-direction: column;
        gap: 15px;
        
        p{
         text-align: center;
        }
      }
    }
  }
}