.iphone-banner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: white;
}

.iphone-banner-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 100px;
}

.iphone-banner-body .iphone_banner_top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.iphone-banner-container h3 {
  font-size: 1.7rem;
  font-weight: bold;
}

.iphone-banner-container h1 {
  font-size: 4rem;
  font-weight: bold;
}

.iphone-banner-container p {
  font-size: 1.5rem;
  padding: 30px;
}

.iphone-button-wrappers .iphone-learn-more {
  color: #4d96ff;
  padding: 0 20px;
  border: none;
  background: none;
  font-size: 1.3rem;
  cursor: pointer;
}

.iphone-button-wrappers .iphone-buy-btn {
  background-color: rgb(62, 140, 230);
  color: white;
  width: 70px;
  height: 40px;
  border-radius: 50px;
  border: none;
  font-size: 1.3rem;
  font-weight: 300;
  cursor: pointer;
}

/* From The Props */
/* Iphone 13 section from the props */
.iphone_13_banner .iphone-banner-body {
  margin-bottom: 50px;
}

/* Iphone SE section from the props */
.iphone_se_banner {
  display: flex;
  flex-direction: row;
  background-color: #fbfbfd;
}

.iphone_se_banner .iphone-banner-body {
  padding: 80px;
}

.iphone_se_banner h1 {
  max-width: 500px;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(
    to right,
    #1e3791 0%,
    #2948b1 40%,
    #3153c6 55%,
    #385fda 60%
  );
  color: transparent;
}
