.store-container {
  background-color: rgb(231, 231, 231);
}

.store-introduction-and-shopping-help {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 60px 30px;
}

.introduction {
  max-width: 700px;
}

.introduction h3 {
  font-size: 3rem;
}

.introduction span,
.card-introduction-title span {
  color: grey;
}

.shoping-help-and-location {
  min-width: 400px;
}

.shopping-help {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  margin-left: 140px;
  padding-bottom: 10px;
}

.shopping-help nav {
  color: rgb(105, 105, 255);
}

.shopping-help nav:hover {
  text-decoration: underline;
  cursor: pointer;
}

.shopping-help .icon {
  padding: 0 25px;
}

/* *************STORE HERO************* */
.slider-container {
  position: relative;
  display: flex;
  align-items: center;
  scrollbar-width: none;
}

.slider-container .slider-icon {
  opacity: 0;
}

.slider-container:hover .slider-icon {
  opacity: 100;
}

.slider-icon.left,
.slider-icon.right {
  background-color: grey;
  border-radius: 100%;
  position: absolute;
  color: white;
  cursor: pointer;
  z-index: 1;
}

.slider-icon.left {
  left: 0;
}

.slider-icon.right {
  right: 0;
}

.store-hero-section {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 80px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  margin-top: 50px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  /* transform: translateX(330px); */
}

.store-hero-section::-webkit-scrollbar,
.store-card-section::-webkit-scrollbar {
  display: none;
}

.store-card-section {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  gap: 2rem;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-bottom: 20px;
}

.card-introduction-title {
  font-size: 2rem;
  margin-top: 30px;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 680px) {
  .store-container {
    overflow: hidden;
  }

  .introduction h3 {
    font-size: 1.5rem;
    text-align: center;
  }

  .shoping-help-and-location {
  }

  .store-introduction-and-shopping-help {
    flex-direction: column;
  }

  .shopping-help {
    margin-left: -20px;
    padding-top: 20px;
  }

  .store-introduction-and-shopping-help {
    padding: 20px 0 0 20px;
  }

  h3 {
    font-size: 1.5rem;
  }
}
