.store-card-container {
  width: 500px;
  margin-top: 50px;
  position: relative;
  transition: all 1s ease;
}

.store-card-container:hover {
  transform: scale(1.05);
  transition: all 1s ease;
  cursor: pointer;
}

.store-card-container .store-card-desc {
  width: 100%;
  position: absolute;
  padding: 20px;
}

.store-card-container img {
  width: 500px;
  border-radius: 10px;
}

.store-card-desc h4 {
  color: rgb(124, 124, 124);
}

.store-card-desc h3 {
  font-size: 2rem;
  padding: 20px 0;
}

.store-card-desc p {
  color: rgb(46, 42, 42);
  font-size: 1.2rem;
}

/* IPAD AIR SECTION */
.card-ipad-air h4 {
  color: white;
}

.card-ipad-air h3 {
  color: white;
}

.card-ipad-air p {
  color: white;
}
