.store-card-container {
  width: 500px;
  margin-top: 50px;
  position: relative;
  transition: all 1s ease;
}

.store-card-container:hover {
  transform: scale(1.05);
  transition: all 1s ease;
  cursor: pointer;
}

.store-card-container .store-card-desc {
  width: 100%;
  position: absolute;
  padding: 20px;
}

.store-card-container img {
  width: 500px;
  border-radius: 10px;
}

.store-card-desc h4 {
  color: rgb(124, 124, 124);
}

.store-card-desc h3 {
  font-size: 2rem;
  padding: 20px 0;
}

.store-card-desc p {
  color: rgb(46, 42, 42);
  font-size: 1.2rem;
}

/* IPAD AIR SECTION */

.store-card-white-text h3 {
  color: white;
}

.store-card-white-text p {
  color: white;
}

@media screen and (max-width: 675px) {
  .store-card-container {
    width: 400px;
    margin-left: 20px;
  }

  .store-card-container img {
    width: 340px;
  }

  .watch_and_learn h3 {
    font-size: 1.4rem;
  }

  .card-introduction-title {
    text-align: center;
    font-size: 1.4rem;
    padding: 0 10px;
  }

  .card_eduction h3 {
    font-size: 1.4rem;
  }
}
