.store-hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* scroll-behavior: smooth; */
  /* scrollbar-width: none; */
}

.store-hero-container img {
  width: 150px;
}

.store-hero-container .store-title {
  font-size: 1.1rem;
  color: rgb(92, 86, 86);
  font-weight: bold;
  padding-top: 10px;
}

@media screen and (max-width: 680px) {
  .store-hero-container {
    margin-bottom: 30px;
  }
}
